<h1>Users</h1>
<table>
  <thead>
    <tr>
      <td>User Name</td>
      <td>About User</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@user.user_name</td>
      <td>@user.about</td>
    </tr>
  </tbody>
</table>
